h1
{
    color :maroon
}
body
{
    overflow:auto;
}
.Header
{
    display:flex;
    justify-content:space-between;
    flex-direction: column;
    
    background-color: rgb(49,198,220);
}
.description
{
    background-color: rgb(85,104,121);
}
.grid
{
    /*flex-direction:column ;*/
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    background-color: rgb(244,118,50);
}
.item
{
    background-color: rgb(38,38,38);
    color : white;
    position : relative;
}
.item p
{
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate( -50% , -50% );
    opacity : 0;
}
.item:hover p
{
    opacity : 1;
    font-weight : "bold";
    font-size : 20px;
}
.item:hover img
{
    opacity : 0.3;
}
.footer
{
    display:flex;
    justify-content:center;
    background-color: rgb(200,121,178);
}
.social
{
    position : relative;
    border : solid;
}
.social:hover img
{
    opacity : 0.3;
}
.social:hover p
{
    opacity : 1;
    font-size : 20px;
}
.social p
{
    position : absolute;
    top : 10%
    left : 10%
    transform : translate( -10% , -10% );
    opacity : 0;
}